.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
  gap: 24px;
  padding-top: 24px;
  /* padding-left: 24px; */
  /* padding-right: 24px; */
  align-items: center;
  justify-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search {
  /* margin: 0 auto; */
  /* margin-top: 24px; */
  width: 500px;
  font-size: 20px;
  min-width: 100px;
  padding: 8px;
}

.search-container {
  display: flex;
  position: sticky;
  top: 64px;
  z-index: 100;
  padding: 12px;
  /* justify-content: center;
  align-items: center; */
  background-color: white;
}

.list-container {
  background-color: rgb(227, 245, 245);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 48px;
}
